<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175028617566-t91nj871308ith0tpkrtjir1biqgt8v6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175028617566-t91nj871308ith0tpkrtjir1biqgt8v6</string>
	<key>API_KEY</key>
	<string>AIzaSyC3VJoeVwZ6OhnULPvDXMpMK2-f-qLifY4</string>
	<key>GCM_SENDER_ID</key>
	<string>175028617566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vn.dential</string>
	<key>PROJECT_ID</key>
	<string>nhakhoavananh-6789</string>
	<key>STORAGE_BUCKET</key>
	<string>nhakhoavananh-6789.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175028617566:ios:dff304378923fa72100fcf</string>
</dict>
</plist>